$aqua: #1f9dca;

.header {
    background-image: linear-gradient(to right, darken($aqua, 15%), lighten($aqua, 15%));
    padding: 2em 1.5em;
    
    &__nav {
       
    }
    
    &__list {
        display: flex;
        align-items: center;
    }
    
    &__item {
        margin: 0 1em;
    }
    
    &__item:first-of-type {
        margin-right: auto;
    }
    
    &__link {
        display: inline-block;
        color: #fff;
        transition: all 300ms ease-out;
        text-transform: uppercase;
        
        &.is-active {
            font-weight: bold; 
            color: #000;
        }
        
        &:not(.is-active):hover, &:not(.is-active):focus {
            color: #000;
        }
        
    }
    
}


