
.signup {
    padding: 2em 1.5em;
    
    &__heading {
        font-size: 2em;
        margin: 2em;
        text-align: center;
    }
    
    &__form {
        
    }
    
    &__form-container {
        
    }
    
    &__group {
       
    }
    
    &__label {
        
    }
    
    &__input {
        
    }
    
    &__small {
        display: block;
    }
    
    &__button-container {
        
    }
    
    &__button {
        
    }
    
    
    
}